html{
    font-family: 'libre franklin';
}
#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.sm-dummy{
    width: 50px;
    height: 50px;
    background-color: red;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#logo{
    max-height: 20px;
    margin-bottom: 4rem;
}
#main-msg{
    font-size: 25px;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-bottom: 1rem;
}
#main-msg span{
    font-weight: 700;
    color: black;
}
#call-to-action{
    font-size: 16px;
    margin-bottom: 3rem;
}
#formAndButton{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#form-parent{
    width: 100%;
}
#form-input{
    border: 1px hsl(0, 0%, 59%) solid;
    border-radius: 3rem;
    padding: 1rem 2rem;
    width: 100%;
}
#error-msg{
    display: none;
}
#notify-btn{
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 3rem;
}
#sm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
}
.icon{
    height: 30px;
}
#copyright{
    text-align: center;
}